@inherits UmbracoViewPage<WebShop.Models.Products.ProductInfoModel>

<div class="mt-5">
    <center>
        <button id="loadmoreButton" class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn1 p-lr-15 trans-04">
            load more
        </button>
    </center>
</div>
